name: Tests
on: push
jobs:
  tests:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: ['3.8']
    name: Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - run: pip install poetry==1.0.5
    - run: poetry install
    - run: poetry run pytest
